# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/.idea/
/online-store.iml
/.idea/
/online-store.iml
/Client.txt
/Cart.txt
/Category.txt
/InstanceProduct.txt
/Order.txt
/ProductAttribute.txt
/User.txt
/Id.txt
/percistance/percistance.iml
/interface/interface.iml
/bussiness-logic/bussiness-logic.iml