# Default ignored files
/shelf/
/workspace.xml
/dataSources/
/dataSources.local.xml
/httpRequests/
/.idea/
/online-store.iml
/.idea/
/online-store.iml
/percistance/percistance.iml
/interface/interface.iml
/bussiness-logic/bussiness-logic.iml
/ProductAttributeValue.txt
/src/resources/config/database.properties
/percistance/src/resources/config/database.properties
.DS_Store
bussiness-logic/target/
interface/target/
percistance/target/
/logs/
percistance/src/main/java/com/kashuba/onlinestore/dao/fileservice/
!/logs/
!/logs/app.log
/logs/app.log
*.iml
